AIRFLOW__CORE__FERNET_KEY=b4MLixpCsLY4-WdDV3FUzLevB4UDbmeHSFW0U46O-L8=
AIRFLOW__WEBSERVER__SECRET_KEY=brewery_case_secret_key

AIRFLOW__EMAIL__EMAIL_BACKEND=airflow.utils.email.send_email_smtp
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=email@gmail.com
AIRFLOW__SMTP__SMTP_PASSWORD=app_password
AIRFLOW__SMTP__SMTP_PORT=587